@page {
  margin: 0.5cm;
  border: none;
  padding: 10px;
  -webkit-print-color-adjust: exact;
}

* {
  background:transparent !important;
  color:#000 !important;
  text-shadow:none !important;
  filter:none !important;
  -ms-filter:none !important;  
}

body {
  margin:0;
  padding:0;
  line-height: 1.4em;
}

main { width: 85%; }

header h1 { font-size: 24px; }

.rotate { display: none;}

#foto { border: none; }

 textarea {
  border: none;
  outline: none;
  background: #fff;
  caret-color: transparent; /*Remove o fundo azul inserido pelo google*/
  margin: auto !important;
  padding-bottom: 15px !important;
}

input {
  border: none;
  outline: none;
  background: #fff;
  caret-color: transparent; /*Remove o fundo azul inserido pelo google*/
}

section textarea {
  height: auto;
  margin: 0;
  padding: 0;
}

section label { line-height: 1rem; }

section h2 {
  background: #f3f3f3 !important;
  -webkit-print-color-adjust: exact;
}

input::placeholder, textarea::placeholder {
  font-size: 0px;
}

textarea { resize: none; height: min-content; }

#imprimir {
  display: none;
  appearance: unset;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

img { max-width: 100%; }

footer { display: block; }

#info-remove { display: none; }

.error { display: none; }

#info-prof h2 span { display: none; }

.container-info-remove { display: none; }

#assinatura { display: block; }

#add_expe { display: none; }

.container-assinar {
  display: flex;
}