@page {
  margin: 0;
  border: none;
  padding: 10px;
  -webkit-print-color-adjust: exact;
}

header h1 { font-size: 32px; }

.rotate { display: none;}

#foto { border: none; }

input, select, textarea {
  border: none;
  outline: none;
  background: #fff;
  caret-color: transparent;
  font-size: 16px;
}

section textarea {
  height: min-content;
  margin: 0;
  padding: 0;
}

section label { line-height: 0; }

section h2 {
  background: #f3f3f3 !important;
  -webkit-print-color-adjust: exact;
}

input::placeholder, textarea::placeholder {
  font-size: 0px;
}

textarea { resize: none; }

#imprimir {
  display: none;
  appearance: unset;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

img {  max-width: 100%;  }

footer {  display: block; }

footer#assinar {  
  position: absolute;
  bottom: 100px;
  margin-top: 100px;  
  margin: auto;
}

#info-remove {  display: none;  }

.error {  display: none;  }

#info-prof h2 span { display: none; }

.container-info-remove { display: none; }